<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Fragment>
    <ComponentGroup Id="TFSListenerSite">
      <ComponentRef Id="SiteRoot"/>
      <ComponentRef Id="SiteBin"/>
    </ComponentGroup>

    <DirectoryRef Id="WebDir" FileSource ="../VersionOneTFSServer">
      <Component Id="SiteRoot" Guid="{8FBC348B-7DCE-451D-970E-319930C89B72}">
        <File Id="WebConfig" Name="Web.config"/>
        <File Id="ServiceSVC" Name="Service.svc"/>
      </Component>
      <Directory Id="WebDir_Bin" Name="bin" FileSource="../VersionOneTFSServer/bin">
        <Component Id="SiteBin" Guid="{B61F8CA4-457D-423D-AC00-667F525ABA6B}">
          <File Id="VersionOneTFSServerDLL" Name="VersionOneTFSServer.dll"/>
          <File Id="SiteVersionOneSDKAPIClientDLL" Name="VersionOne.SDK.APIClient.dll"/>
          <File Id="SiteVersionOneTFSDataLayer" Name="VersionOne.TFS2010.DataLayer.dll"/>
          <File Id="SiteVersionOneServerConnector" Name="VersionOne.ServerConnector.dll"/>
          <File Id="SiteVersionOneServiceHostCore" Name="VersionOne.ServiceHost.Core.dll"/>
          <File Id="log4net" Name="log4net.dll"/>
        </Component>
      </Directory>
    </DirectoryRef>
	</Fragment>
</Wix>